<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Cash dispense</div>
            </div>

            <div style="padding-top:30px"  class="panel-body" >


                <div ng-include="'js/core/errors.html'"></div>

                <form id="loginform" ng-submit="vm.breakdown()" name="loginForm" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" ng-model="vm.amount" required class="form-control" name="username" value="" placeholder="amount">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" ng-disabled="!loginForm.$valid" class="btn btn-success">Login </button>
                        </div>
                    </div>

                </form>


                <li ng-repeat="(key, value) in vm.result">
                    {{key}} X {{value}}
                </li>



            </div>
        </div>
    </div>
</div>
